/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import '@angular/material/prebuilt-themes/indigo-pink.css';*/
/* @import '@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '@angular/material/prebuilt-themes/purple-green.css'; */

/* Global Styles */

body {
  height: 100%;
  margin: 2em;
  background-color: lightgray;
}


.msg {
  text-align: center;
}
label {
  font-weight: bold;
}
p {
  font-weight: bold;
}
form {
  text-align: center;
}
#longitude {
}
#latitude {
}
#distance {
}
#waypoints {
}
#button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}




